@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.title {
  font-size: 4em;
  padding-top: 8%;
  display: block;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 8%;
}

.about-image {
  width: 245px;
  height: 255px;
  border-radius: 50%;
  margin-right: 20px;
  border: 7px solid white;
}

#let-me {
  font-size: 40px;
  padding-top: 1%;
}

#introduction {
  font-family: "Oxygen";
  font-size: 20px;
  padding-right: 50px;
  max-width: 800px;
}

.basic-info {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

.inner-basic-info {
  width: 600px;
  padding-left: 150px;
  padding-top: 30px;
}

@media (max-width: 900px) {
  #introduction {
    text-align: center;
    margin-left: 0;
  }
  #let-me {
    text-align: center;
  }
  .intro-container {
    flex-direction: column;
    align-items: center;
  }
  .basic-info {
    flex-direction: column;
    align-items: center;
  }
  .inner-basic-info {
    text-align: center;
    padding-left: 0px;
  }
}

#resume {
  background-color: #757575;
  color: black;
  font-family: "Oswald";
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  margin: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
