#end-padding {
  padding: 70px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* ------------------------contact page----------------------- */
/* -------------------------------------------------------------*/

.contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.contact-item {
  flex: 1;
  align-items: baseline;
  margin: 0 1rem;
  border-radius: 10px;
}

.contact-link {
  /* flex-flow: column; */
  /* width: 500px; */
  filter: drop-shadow(0 6px 20px #f5dddd);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  padding-bottom: 20px;
  color: black;
  font-size: 30px;
}

.contact-img {
  /* position: absolute; */
  cursor: pointer;
  /* top: 0; */
  display: block;
  width: 80px;
  height: 80px;
  /* object-fit: fill; */
  transition: all 0.2s linear;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  align-items: baseline; */
}

.contact-info {
  padding-top: 10px;
  padding-left: 30px;
}

.contact-text {
  color: black;
  font-size: 25px;
  /* line-height: 20px; */
  /* width: 450px; */
  align-items: center;
  font-weight: lighter;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  /* .my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}
