.education {
  font-size: 2em;
  display: block;
  padding: 50px;
}

.extra-text {
  font-size: 20px;
  font-family: "Oxygen";
  text-align: left;
  padding-left: 100px;
  padding-bottom: 20px;
}

.vertTimeline {
  filter: drop-shadow(0 6px 20px #b9b9b9ab);
}
