@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* -------------------------home page -----------------------*/
/* ----------------------------------------------------------*/

.title {
  font-size: 4em;
  padding-top: 8%;
  padding-left: 50px;
  /* text-align: left; */
  /* margin-left: 10%; */
  display: block;
}

#name {
  font-size: 4em;
  padding-top: 250px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

#aspiring {
  font-size: 20px;
  font-family: "Oxygen";
  margin-top: 7px;
}

.logos {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: space-around;
  width: 45px;
  height: 45px;
  padding-top: 4%;
  margin: 20px;
  cursor: pointer;
  padding-bottom: 225px;
}
