@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* -------------------------home page -----------------------*/
/* ----------------------------------------------------------*/

.title {
  font-size: 4em;
  padding-top: 8%;
  padding-left: 50px;
  display: block;
}

.scroller {
  z-index: 900;
}

#name {
  font-size: 4em;
  padding-top: 250px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

#aspiring {
  font-size: 20px;
  font-family: "Oxygen";
  margin-top: 7px;
}

.logos {
  justify-content: space-around;
  width: 45px;
  height: 45px;
  padding-top: 3%;
  margin: 20px;
  cursor: pointer;
  padding-bottom: 225px;
}

.logos:hover {
  opacity: 0.5;
}

.short-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.short-nav ul li {
  color: rgb(56, 55, 55);
  font-size: 20px;
  margin-right: 10px;
}

.short-nav ul li:hover {
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 700px) {
  .logos {
    padding-top: 0.005%;
  }
}
