@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* ------------------------navigation bar----------------------- */
/* -------------------------------------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar ul li {
  color: black;
  font-size: 2em;
}

.navbar ul li > .active {
  border-bottom: 1px solid black;
}

.navbar ul li:hover {
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
}

.home-section {
  background-image: url(./sections/pics/pastelback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  background-color: #f2edf4;
  align-content: stretch;
}

.experiences-section {
  background-color: #cbb8d0;
  z-index: 800;
}

.projects-section {
  background-color: #efeaf1;
}

.contact-section {
  background-color: #a68cb1;
}
